SECRET_KEY="change_me"
DEBUG="1"  # 1 = True | 0 = False
ALLOWED_HOSTS="change_me,change_me,change_me"
POSTGRES_DB="change_me"
POSTGRES_USER="change_me"
POSTGRES_PASSWORD="change_me"
DEFAULT_EMAIL="change@me.com"
DOMAIN="change.me"
METABASE_SITE_URL="https://change.me"
METABASE_SECRET_KEY="change_me"
AUTH_LDAP_SERVER_URI="ldaps://change.me"
AUTH_LDAP_BIND_DN="cn=change,ou=me,dc=change,dc=me"
AUTH_LDAP_BIND_PASSWORD="change_me"
AUTH_LDAP_USER_SEARCH="ou=change,ou=me,dc=change,dc=me"
AUTH_LDAP_GROUP_SEARCH="ou=change,ou=me,dc=change,dc=me"
STAFF_GROUP_DN="cn=change,ou=me,dc=change,dc=me"
ADMIN_GROUP_DN="cn=change,ou=me,dc=change,dc=me"