SECRET_KEY="change_me"
DEBUG="1"  # 1 = True | 0 = False
ALLOWED_HOSTS="change_me,change_me,change_me"
POSTGRES_DB="change_me"
POSTGRES_USER="change_me"
POSTGRES_PASSWORD="change_me"
DEFAULT_EMAIL="change@me.com"
DOMAIN="change.me"